---
layout: default
title: Publications
permalink: /publications/
link-years:
  - 2015
  - 2014
  - 2013
  - 2012
  - Before 2012
  - Working
  - Opinion
---

<div class="post">
    
  <h1 class="post-title">Peer Reviewed</h1>
  
  {% comment %} Navigation shortcut. {% endcomment %}  
  <p>
  {% for year in page.link-years %}
  <a href="/publications/#{{ year }}">{{ year }}</a>&nbsp;&nbsp;&nbsp;
  {% endfor %}
  </p>

  {% comment %} Count publications backwards. {% endcomment %}  
  {% assign count = site.data.peer_review.size %}
  
  <ul class="pub-list">
    {% assign year = "0000" %}
    {% for pub in site.data.peer_review %}
      {% if year != pub.year %}
        {% assign year = pub.year %}
        <a class="anchor" id="{{ year }}">{{ year | capitalize }}</a>
        <li class="pub-year">{{ year | capitalize }}</li>
      {% endif %}
      <li>
        {{ count | minus: forloop.index0 }}. 
        {% if pub.year == "Before 2012" %}
          {{ pub.author }}. {{ pub.title }}. {{ pub.ref }}.<br/>
        {% elsif pub.year != "Before 2012" %}
          {{ pub.author }} ({{ pub.year }}). {{ pub.title }}. {{ pub.ref }}.<br/>
        {% endif %}
        {% if pub.doi %}
          <br/>doi: <a href="http://dx.doi.org/{{ pub.doi }}">{{pub.doi}}</a>&nbsp;&nbsp; 
        {% endif %}
        {% if pub.pmcid %}
          <br/>pmcid: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{ pub.pmcid }}">{{pub.pmcid}}</a>&nbsp;&nbsp; 
        {% endif %}
        {% if pub.link %}
          <br/>links: <a href="{{ pub.link }}">{{pub.text}}</a>&nbsp;&nbsp; 
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

<div class="post"><br>
  <a class="anchor" id="Working"></a>
  <h1 class="post-title">Working</h1>
  
    <ul class="pub-list">
      A. G. Meyer and C. O. Wilke. <a href="http://ausmeyer.github.io/hiv_structural_determinants">Structural determinants of HIV evolution.</a> (pretty awesome paper-now formatting)
    </ul>
  
</div>
  
<div class="post"><br>
  <a class="anchor" id="Opinion"></a>
  <h1 class="post-title">Opinion</h1>
  {% assign opinion_count = site.data.opinion.size %}
  
  <ul class="pub-list">
    {% assign year = "0000" %}
    {% for pub in site.data.opinion %}
      {% if year != pub.year %}
        {% assign year = pub.year %}
        <li class="pub-year">{{ year | capitalize }}</li>
      {% endif %}
      <li>
        {{ opinion_count | minus: forloop.index0 }}. 
        {{ pub.author }} ({{ pub.year }}). {{ pub.title }}. {{ pub.ref }}.<br/>
        {% if pub.doi %}
          <br/>doi: <a href="http://dx.doi.org/{{ pub.doi }}">{{pub.doi}}</a>&nbsp;&nbsp; 
        {% endif %}
        {% if pub.pmcid %}
          <br/>pmcid: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{ pub.pmcid }}">{{pub.pmcid}}</a>&nbsp;&nbsp; 
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  
</div>
